{% extends 'base.html' %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="content h-350 pt-2">
    <div class="col-md-12">
        <div class="col-md-12">
            <a href="{% url 'create_article' %}" class="btn rightSide"><i class="fa fa-plus-square" aria-hidden="true"></i>
Создать статью</a>
        </div>

        {% for article in articles %}
            <div class='col-md-8 article ml-15 mb-2'>
                <table class="w-100">
                    <tbody>
                        <tr>
                            <td class='w-20 pr-2'>
                                <img src="{% url 'home' %}media/{{ article.articleimage_set.first.image.name}}" class='article_miniature'>
                            </td>
                            <td>
                                <a class='m-0 black' href="{% url 'article_detail' article.id %}">
                                    {{ article.title }}
                                </a>
                                <br>
                                <small>
                                    {{ article.body }}
                                </small>
                                <br>
                                <small class='text-muted'>
                                    {{ article.creator.get_full_name }}
                                </small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}