{% extends 'base.html' %}


{% block hero %}
{% endblock %}

{% block content %}
<div class="container center-block">
    <div class="row">
        <div class="col-md-12">
            <h1>Новый пользователь</h1>
        </div>
    </div>
    {% if message %}
    <div class="alert-success">
        {{ message }}
    </div>
    {% endif %}
    {% if error %}
    <div class="alert-danger">
        {{ error }}
    </div>
    {% endif %}
    <div class="col-md-12">
        <form action="{% url 'registration' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-4 control-label">Имя*</label>
                    <div class="col-md-8">
                        <input name="first_name" required class="form-control max_w-40" placeholder="Иван">
                    </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Фамилия*</label>
                <div class="col-md-8">
                    <input name="last_name" required class="form-control max_w-40" placeholder="Иванов">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">E-mail*</label>
                <div class="col-md-8">
                    <input type="email" name="email" required class="form-control max_w-40" placeholder="bicycle@gmail.com">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Пароль*</label>
                <div class="col-md-8">
                    <input type="password" name="password" required class="form-control max_w-40" placeholder="***********">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Повторить пароль*</label>
                <div class="col-md-8">
                    <input type="password" name="confirm_password" required class="form-control max_w-40" placeholder="***********">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Страна</label>
                <div class="col-md-8">
                    <input name="country" class="form-control max_w-40" placeholder="Украина">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Область</label>
                <div class="col-md-8">
                    <input name="region" class="form-control max_w-40" placeholder="Киевская">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Город</label>
                <div class="col-md-8">
                    <input name="city" class="form-control max_w-40" placeholder="Киев">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Адрес</label>
                <div class="col-md-8">
                    <input name="address" class="form-control max_w-40" placeholder="пр. Победы, 7-77">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">№ телефона</label>
                <div class="col-md-8">
                    <input name="phone" class="form-control max_w-40" placeholder="0971234567">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Дата рождения</label>
                <div class="col-md-8">
                    <input name="birthday" class="form-control max_w-40" placeholder="08-01-1990">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Пол</label>
                <div class="col-md-8">
                    <select name="male" class="max_w-40 form-control">
                        <option disabled selected>Выберите</option>
                        <option>Мужской</option>
                        <option>Женский</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-4 control-label">Фото</label>
                <div class="col-md-4">
                    <input name="avatar" type="file">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success">Зарегистрироваться</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}